<div class="header_wrapper">
    <div class="header_image">
        
    </div>
    <div class="header_title">
        <img src="../../assets/images/pullmanfit_logo.png">
    </div>
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <h4 class="card-text">UNA INICIATIVA QUE BUSCA
                SEGMENTAR EL MERCADO DE
                LA INFORMACIÓN EN LA WEB,
                CON LA VISIÓN DE
                CONVERTIRSE EN UNA
                APLICACIÓN INDISPENSABLE
                PARA LA VIDA DIARIA</h4>
            <a id="header_button" tabindex="0" class="btn btn-lg btn-danger" role="button" data-bs-toggle="popover" data-bs-trigger="focus" 
            title="Pronto tendremos esta informacion disponible">
                Contacto
            </a>
        </div>
    </div>
</div>