<div id="footer_wrapper" class="card text-center">
    <div id="footer_text" class="card-body navbar-dark bg-dark" >
        <h4 class="card-title">PullmanFit</h4>
        <p class="card-text">Con esta proyecto se busca adentrarse en el mundo de la tecnología
            de la información y cubrir un mercado olvidado en sectores del mundo
            muy específicos.
        </p>
        <a id="header_button" tabindex="0" class="btn btn-lg btn-danger" role="button" data-bs-toggle="popover" data-bs-trigger="focus" 
        title="Pronto tendremos esta informacion disponible">
            Contacto
        </a>
    </div>
    <div id="footer_footer" class="card-footer text-muted">
            Febrero, 2021
    </div>
</div>
