<div id="products" class="products_wrapper">
  <div class="products_description">
    <h2 class="products_header">Productos</h2>
    <h3 class="products_text">Contamos con 3 modelos de paralelas portatiles
      el U 2/15 de madera con 15cm de altura, el U 2/35 de hierro con 35cm 
      de altura y el U 2/65 de hierro con 65cm de altura
    </h3>
  </div>
  <div id="carousel_wrapper" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carousel_wrapper" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carousel_wrapper" data-bs-slide-to="1"></li>
      <li data-bs-target="#carousel_wrapper" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/metal_parallettes.png" class="d-block w-100" alt="...">
        <div id="carousel_text" class="carousel-caption d-none d-md-block">
          <h3>Paralelas Portatiles</h3>
          <p><strong>Modelo U 2/35</strong></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/metal_parallettes_2.png" class="d-block w-100" alt="...">
        <div id="carousel_text" class="carousel-caption d-none d-md-block">
          <h3>Paralelas Portatiles</h3>
          <p><strong>Modelo U 2/65</strong></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/wooden_parallettes.png" class="d-block w-100" alt="...">
        <div id="carousel_text" class="carousel-caption d-none d-md-block">
          <h3>Paralelas Portatiles</h3>
          <p><strong>Modelo U 2/15</strong></p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Proximo</span>
    </a>
  </div>
</div>