<div id="profiles" class="profiles_wrapper">
    <h2 class="profiles_header">Fundadores</h2>
    <div class="cards_wrapper">
        <div id="card_wrapper" class="card mb-3" style="max-width: 540px;">
            <div id="card" class="row g-0">
                <div class="col-md-4">
                    <img src="../../assets/images/dp.png.JPG" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title"><strong>Daniel Puleo</strong></h4>
                        <h5 class="card-text"><strong>Co-Fundador</strong></h5>
                        <p class="card-text">Hermanos y programadores</p>
                    </div>
                </div>
            </div>    
        </div>
        <div id="card_wrapper" class="card mb-3" style="max-width: 540px;">
            <div id="card" class="row g-0">
                <div class="col-md-4">
                    <img class="german_photo" src="../../assets/images/gp.png.JPG" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title"><strong>German Puleo</strong></h4>
                        <h5 class="card-text"><strong>Co-Fundador</strong></h5>
                        <p class="card-text">Hermanos y programadores</p>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>